@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/images/twister.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* glassmorphism */
.glass-effect {
  @apply 
    relative
    cursor-crosshair 
  bg-white/5 
    backdrop-blur-sm
    rounded-3xl
    bg-gradient-to-b from-stone-950/50 
    shadow-[0_8px_32px_rgba(0,0,0,0.1),inset_0_1px_0_rgba(255,255,255,0.5),inset_0_-1px_0_rgba(255,255,255,0.1)]
    overflow-hidden
    before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:h-px 
    before:bg-[linear-gradient(90deg,transparent,rgba(255,255,255,0.8),transparent)]
    after:content-[''] after:absolute after:top-0 after:left-0 after:w-px after:h-full
    after:bg-[linear-gradient(180deg,rgba(255,255,255,0.8),transparent,rgba(255,255,255,0.3))]
    hover:scale-102 transition-transform
}

/* responsive */
.responsive {
  @apply text-4xl md:text-6xl text-center drop-shadow-md/50
}

/* direcctions styles */
.pointStyles {
  @apply absolute bg-gray-700 rounded-md px-3
}

/* background mini-info cards */
.mini-info {
  @apply px-3 py-1 md:pr-30 bg-gradient-to-r from-gray-700 via-gray-700 sm:to-90%  rounded-xl md:text-sm 
}

/* background gradient with the app logo colors */
.bg-gradient-app {
  @apply bg-gradient-to-b from-[#4a6ddc]/90 via-[#4a90e2]/60 to-[#5bc0eb]/30
}